<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Core</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ assets('plugins/uikit/css/uikit.min.css') }}"/>
    <link rel="stylesheet" href="{{ assets('css/style.css') }}"/>
    <link rel="icon" href="{{ assets('images/favicon.ico') }}" />
    <script src="{{ assets('plugins/uikit/js/uikit.min.js') }}"></script>
    <script src="{{ assets('plugins/uikit/js/uikit-icons.min.js') }}"></script>
    <script src="{{ assets('plugins/fontawesome/fontawesome-all.js') }}"></script>
</head>
<body>

<div class="uk-offcanvas-content">


    {% if is_role('ADMIN') %}
        {% include 'partial/admin-side-navigation.twig' %}
    {% endif %}
    {% include 'partial/navigation.twig' %}

    {{ show_flash_messages() | raw }}

    {% block content %}{% endblock %}
</div>
</body>
</html>